################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Диаграмма последовательности.vsdx
/Декомпозиция слоя данных.vsdx
/Деплоймент диаграмма.vsdx
/Диаграмма контейнеров приложения на основе выбранной модели функциональной декомпозиции.vsdx
